.top-main{
  background-image: url(https://tblg.k-img.com/resize/640x360c/restaurant/images/Rvw/73347/73347578.jpg?token=0ae7dbd&api=v2);
  background-size: cover;
  color: white;
  height:1000px;
}
.top-main{
  padding-bottom: 100px;
}
.btn-main{
  color: white;
}
.btn{
  border-bottom: 2px solid white;
  display: inline-block;
  text-align: center;
  width: 50%;
  margin:50px 30px;
}
